# Swift Package Manager (grid-server)
grid-server/.build/
grid-server/.swiftpm/
grid-server/Package.resolved
# Go build artifacts (grid-cli)
./grid-cli/bin
./grid-cli/bin/
# Xcode
xcuserdata/
*.xcodeproj
*.xcworkspace

# macOS
.DS_Store

# Build artifacts
*.o
*.swiftmodule
*.swiftdoc

# Unix domain socket files
*.sock

# VSCode
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Debug artifacts
*.dSYM/
# logs
*.log